.clear-fix {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.navbar {
  position: relative;
}
.navbar-links {
  /* navbar */
  position: fixed;
  top: 0;
  width: 100%;
  transition: ease 0.5s;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.navbar-links ul {
  /* navbar ul (the list)*/
  transform: translateY(-20px);
  list-style: none;
}
.navbar-links li {
  /* navbar li  (the points)*/
  display: inline;
}
.navbar-links a {
  /* navbar a (the links)*/
  font-size: 40px;
  padding: 0 5%;
  color: #fff;
  font-family: "Neucha";
}
.show-links {
  /* show the navbar */
  height: 90px;
  padding: 1%;
}
#checkbox {
  /* checkbox */
  display: none;
}
.hamburger {
  /* hamburger */
  position: fixed;
  padding: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.line {
  /* lines for checkbox */
  position: absolute;
  width: 42px;
  height: 4px;
  background-color: #fff;
  border-radius: 6px;
  transition: transform 0.25s, opacity 0.35s;
}
.line--top {
  /* top line */
  transform: translateY(-14px);
}
.line--bottom {
  /* bottom line */
  transform: translateY(14px);
}

#checkbox:checked ~ .line--top {
  transform: rotate(45deg);
}
#checkbox:checked ~ .line--middle {
  transform: translateX(32px);
  opacity: 0;
}
#checkbox:checked ~ .line--bottom {
  transform: rotate(-45deg);
}
#main-header {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 100px;
  margin-top: 130px;
}
#disclaimer {
  /* disclaimer */
  font-size: 20px;
  font-family: "Neucha";
}
#projects {
  /* projects section */
  width: 80%;
  margin: 3% auto;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}
#projects section {
  display: inline-flex;
  width: 100%;
  margin: 3% auto;
  justify-content: center;
  flex-wrap: wrap;
}
#projects div {
  /* project */
  width: 300px;
  min-width: 300px;
  min-height: 180px;
  height: fit-content;
  margin: 2%;
  padding: 0.5%;
  border: solid #333;
  border-radius: 10px;
}
#projects div:hover {
  /* project hovered */
  transition: ease 0.3s;
  transform: scale(1.2);
}

#projects h1 {
  /* project title */
  font-size: 30px;
  margin: 0;
  font-family: "Neucha";
}
#projects h1 i {
  /* project title icon */
  margin: 0.5%;
}
#projects p {
  /* project description */
  font-size: 20px;
  font-family: "Neucha";
}
.icons {
  /* icons */
  display: inline-block;
  height: fit-content;
}
.icons i {
  /* icons */
  margin-right: 1.5%;
  font-size: 30px;
  color: black;
}
#main-footer {
  font-family: "Neucha";
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .hamburger {
    /* checkbox */
    padding: 33px 20px;
  }

  .navbar-links {
    /* navbar */
    position: fixed;
    top: 0;
    width: 100%;
    transition: ease 0.5s;
    background: linear-gradient(
      60deg,
      rgba(84, 58, 183, 1) 0%,
      rgba(0, 172, 193, 1) 100%
    );
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    height: 0;
    overflow: hidden;
    padding: 0;
  }

  .navbar-links ul {
    /* navbar ul (the list)*/
    transform: translateY(-20px);
    list-style: none;
  }
  .navbar-links li {
    /* navbar li  (the points)*/
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateX(-20px);
  }
  .navbar-links a {
    /* navbar a (the links)*/
    font-family: "Neucha";
    font-size: 40px;
    padding: 0 5%;
    color: #fff;
  }
  .show-links {
    /* show the navbar */
    height: 110px;
    padding: 1%;
    font-family: "Neucha";
  }
  #main-header {
    font-size: 80px;
    margin: 100px 0 50px;
  }
  #projects {
    /* projects section */
    width: 80%;
    margin: 3% auto;
    display: block;
  }

  #projects div {
    /* projects */
    margin: 10%;
    padding: 2%;
  }
  #projects div:hover {
    /* project hovered */
    transition: ease 0.3s;
    transform: scale(1);
  }
}
